.todo:hover {
    background-color: #f5f5f5;
}
.todo .btn-delete-todo {
    margin-left: auto;
    opacity: 0;
    transition: all .2s;
    float: right;
    padding: 1px 6px;
}

.todo:hover .btn-delete-todo {
    opacity: 1;   
}